.header {
    height: 100px;
    background-color: #fff;
    display: flex;
    padding: 10px 165px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f5f5f5;


    &__left {
        height: 100%;

        .logo {
            width: 100px;
            height: 100%;
        }
    }

    &__right {
        display: flex;
        align-items: center;

        &-icon {
            // width: 30px;
            // height: 30px;

            margin-right: 20px;

            &>i {
                color: $main-color;
                font-size: 25px;
            }
        }

        &-text {
            font-size: 16px;
            color: #333;

            &:hover {
                color: $main-color;
                cursor: pointer;
            }
        }
    }
}